body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
}

.app {
  display: flex;
  height: 100vh;
}

.left-panel {
  width: 30%;
  background: #1b1b1b;
  padding: 20px;
}

.subject-card {
  background: #222;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.subject-card.late {
  box-shadow: 0 0 15px red;
}

.progress {
  background: #333;
  height: 10px;
  border-radius: 5px;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background: linear-gradient(to right, orange, red);
}

.right-panel {
  width: 70%;
  padding: 20px;
}

.fire {
  width: 40px;
  height: 60px;
  border: 2px solid orange;
  border-radius: 10px;
  overflow: hidden;
}

.fire-fill {
  height: 0%;
  background: linear-gradient(to top, orange, red, yellow);
}

.todo-item {
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}

.red { background:#7a1c1c; }
.yellow { background:#7a6a1c; }
.green { background:#1c7a3a; }

button {
  padding: 10px;
  margin-top: 10px;
}

.calendar {
  background:#222;
  padding:20px;
  border-radius:10px;
}
